.DS_Store
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
*.backup
/alien
*.out
*.img
rundir/
*output
*output.sas
/VAL/
/downward/
/axiom-domains/
/ipc2006-optsat/
/ipc2008-opt/
/ipc2011-opt/
/ipc2014-agl/
