[submodule "ipc2014-agl"]
	path = ipc2014-agl
	url = https://github.com/guicho271828/ipc2014-agl.git
[submodule "axiom-domains"]
	path = axiom-domains
	url = https://github.com/guicho271828/axiom-domains.git
[submodule "ipc2011-opt"]
	path = ipc2011-opt
	url = https://github.com/guicho271828/ipc2011-opt.git
[submodule "downward"]
	path = downward
	url = https://github.com/guicho271828/FastDownward.git
	branch = master
        update = rebase
[submodule "ipc2006-optsat"]
	path = ipc2006-optsat
	url = https://github.com/guicho271828/ipc2006-optsat.git
[submodule "ipc2008-opt"]
	path = ipc2008-opt
	url = https://github.com/guicho271828/ipc2008-opt.git
[submodule "VAL"]
	path = VAL
	url = https://github.com/guicho271828/VAL.git
